<style>
  .wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 30px 0;
    background: #E54B64;

    font-family: Arial, Helvetica, sans-serif;
  }

  .content {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;

    color: #666;

    background: #fff;
    border-radius: 6px;
  }

  .content h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 29px;
    color: #E54B64;
  }
</style>

<div class="wrapper">
  <div class="content">
    <h1>Gympoint</h1>
    {{{ body }}}
    {{> footer }}
  </div>
</div>
